/* Header CSS */

header {
    background-color: var(--primary);
    padding: 2px 0;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a.title {
    font-size: 25px;
    color: var(--white);
    text-align: center;
    font-weight: 700;
    text-decoration: none;
}


header .nav-link, header .nav-link:hover, header .nav-link.active {
    color: var(--white) !important;
    text-decoration: none;
}

/* Footer  CSS */

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color:  rgb(181, 224, 181);
}

footer p {
    color: var(--primary);
    margin: 0;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    padding: 5px;
}

/* Content CSS */
.content {
    padding: 1rem;
}

.content .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
}

.content .title h1 {
    font-size: 22px;
    color: var(--primary);
    font-weight: 700;
    margin: 0;
}

.content .title button.btn-primary {
    background-color: var(--primary);
    color: var(--white);
    border: 1px solid var(--primary);
    font-weight: 700;
}

.content .title button.btn-primary:hover {
    background-color: var(--primary);
    color: var(--white);
    border: 1px solid var(--primary);
}

.content table {
    width: 100%;
    font-weight: 500;
    position: relative;
    box-shadow: 3px 2px 5px 1px #22222221;
}

.content table th {
    font-weight: 700;
    background-color: var(--primary-light);
    color: var(--primary);
}

.content table th,
.content table td {
    position: relative;
}

.content table .action-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


.content table .action-icons button{
    outline: none;
    border: none;
    background: transparent;
}
/* Tooltip CSS */

.tooltip {
    position: relative;
    display: inline-flex !important;
    opacity: 1 !important;
    background: var(--primary-light);
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 40px;
    height: 40px;
}

.tooltip a {
    color: var(--black);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: -50px;
    left: -55px;
}

.tooltip .tooltiptext::after {
    content: "";
    border: 5px solid #000;
    top: 26px;
    position: absolute;
    left: 48%;
    transform: rotate(45deg);
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip svg {
    font-size: 18px;
}

.tooltip.edit {
    background-color: #0068003f;
}

.tooltip.edit svg {
    color: #006800;
}

.tooltip.edit .tooltiptext,
.tooltip.edit:hover {
    background-color: #006800;
}

.tooltip.edit .tooltiptext::after {
    border: 5px solid #006800;
}

.tooltip.delete {
    background-color: #b7040440;
}

.tooltip.delete svg {
    color: #b70404;
}

.tooltip.delete .tooltiptext,
.tooltip.delete:hover {
    background-color: #b70404;
}

.tooltip.delete .tooltiptext::after {
    border: 5px solid #b70404;
}

.tooltip.view {
    background-color: #00808045;
}

.tooltip.view svg {
    color: #008080;
}

.tooltip.view .tooltiptext,
.tooltip.view:hover {
    background-color: #008080;
}

.tooltip.view .tooltiptext::after {
    border: 5px solid #008080;
}

.tooltip.edit:hover svg,
.tooltip.delete:hover svg,
.tooltip.view:hover svg {
    color: var(--white);
}

/* Login Form */

.loginForm {
    width: 50%;
    box-shadow: 0px 1px 7px 6px #9393933b;
    border-radius: 10px;
    padding: 2rem;
    margin: 5rem auto;
    background: #fff;
}

.loginForm .btn.btn-primary {
    background-color: var(--primary);
    color: var(--white);
    border: 1px solid var(--primary);
    font-weight: 600;
    letter-spacing: .5px;
}

.loginForm .btn.btn-primary:hover {
    background-color: var(--white);
    color: var(--primary);
    border: 1px solid var(--primary);
}

.loginForm h3 {
    text-align: center;
    color: var(--primary);
    font-weight: 800;
}

.ViewEmployee {
    width: 50%;
    margin: 2rem auto;
    box-shadow: 1px 10px 10px 5px #2222221a;
    border-radius: 10px;
    padding: 2rem;
    background: #fff;
}

.ViewEmployee .form-group {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
}

.ViewEmployee .form-group label {
    font-size: 18px;
}

.ViewEmployee .form-group p {
    margin: 0;
    font-weight: 600;
    font-size: 18px;
}

.ViewEmployee h2 {
    font-size: 22px;
    font-weight: 700;
    color: var(--primary);
    text-align: center;
    margin: 0 0 2rem 0;
}

.content-1 {
    background-image: url('./images/employee-management.jpg');
    background-size: cover; /* Cover the entire viewport */
    background-position: center; /* Center the background image */
    height: 100vh; /* Set height to fill the viewport */
    margin: 0; /* Remove default body margin */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; /* Text color for the content */
    font-family: Arial, sans-serif; /* Set a preferred font family */
  }
  
  